doctype html
html
  head
    title Perfil de #{user.nombre}
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;1,300&display=swap" rel="stylesheet")
  body
    h1 Perfil de #{user.nombre}
    p ID del usuario: #{user.id}
